<h2>My Teachers</h2>
<ul class="teachers">
  <li *ngFor="let teacher of teachers">
    <button [class.selected]="teacher === selected" type="button" (click)="onSelect(teacher)">
      <span class="badge">{{teacher.id}}</span>
      <span class="name">{{teacher.firstName}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selected">

  <h2>{{selected.firstName | uppercase}} Details</h2>
  <div>id: {{selected.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selected.firstName" placeholder="name">
  </div>

</div>


